<h1> Post </h1>

<div class="field">

  <% @posts.each do |p| %>


  Title: <%= p.title %>
  Body: <%= p.body %>
  <a href="<%= post_path(p)%>">Show</a>
  <a href="<%= edit_post_path(p)%>">Edit</a>


  <%end%>

</div>
