<h1> Post </h1>

<div class="field">



    Title: <%= @post.title%><br>
    Body: <%= @post.body%><br>
    <% @post.comments.each do |c| %>
    Comment: <%= c.body %>
    <%end%>
    <a href="/">back</a>
